<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toolbox_Class_Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Toolbox_Class_Library.Properties.Settings>
            <setting name="TypingSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlitzImportSpeed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="ReverseImport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FlexiProImportSpeed" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ContractorData" serializeAs="String">
                <value>[{"Name":"Default","Devices":["CGM4981COM","CGM4331COM","TG4482A","IPTVTCXI6HD","IPTVARXI6HD","SCXI11BEI","XE2SGROG1","XS010XQ","SCHB1AEW","SCHC2AEW","SCHC3AE0","SCXI11BEI-ENTOS","MR36HW","S5A134A","CM8200A","CODA5810","WNXB11ABR", "WNXL11BWL", "NOVA2002", "LDHD2AZW", "H74470BA00-00007", "FLZB1-ECO"],"CtrIDs":["8052","8067","8090","8091","8134","NB1","NF1"]}]</value>
            </setting>
            <setting name="CtrOrder" serializeAs="String">
                <value>8052, 8067, 8090, 8091, 8134, NB1, NF1</value>
            </setting>
            <setting name="GroupedDevices" serializeAs="String">
                <value>CGM4331COM+TG4482A, IPTVTCXI6HD+IPTVARXI6HD, XS010XQ+XS010XB+XS020XONT+XS505M</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Rogers</value>
            </setting>
            <setting name="FlexiproPixel" serializeAs="String">
                <value>961, 1007</value>
            </setting>
            <setting name="WmsPixel" serializeAs="String">
                <value>30, 151</value>
            </setting>
            <setting name="PushFlexiProData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WmsFailAutomation" serializeAs="String">
                <value>Ctrl + X</value>
            </setting>
            <setting name="WmsImportSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BartenderPath" serializeAs="String">
                <value>C:\\BTAutomation\\barcodes.txt</value>
            </setting>
            <setting name="ExcelColumn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CTRAutomation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CTRImportSpeed" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="TechIds" serializeAs="String">
                <value>B176, B315, NB00, NB02, NB03, NB04, NB05, NB06, NB07, NB08, NB09, NE15, NE23, NE26, NE74, NF03, NF04, NF21, NF23, NF24, NF26, NF27, NF34, NF35, NF36, NF38, NF41, NF44, NF45, NF56, NF69, Nm43, NN17, NN19, NN24, NN46, NN51, NN53, NN54, NN57, NN58, NN60, NN61, NN62, NN63, NN64, NN66, NN67, NN68, NN71, NN72, NN73, NN75, NN79, NN80, NS07, NS09, NS15, NS17, NS22, NS23, NS32, NS34, NS36, NS41, NS53, NS55, NS57, NS68, ns71, NS73, Ns77, NS83, NS84, NS85, NS86, NS90, NS91, NS92, NS93, NS94, NS98</value>
            </setting>
            <setting name="TechDevices" serializeAs="String">
                <value>CGM4981COM, CGM4331COM, IPTVARXI6HD, SCXI11BEI, XE2SGROG1, XS010XB, SCHB1AEW, SCHC2AEW, SCHC3AE0, SCXI11BEI-ENTOS, WNXB11ABR, WNXL11BWL, NOVA2002</value>
            </setting>
            <setting name="RunTechAutomation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TechHeaderText" serializeAs="String">
                <value>Hello :)</value>
            </setting>
            <setting name="TechNumDown" serializeAs="String">
                <value>8</value>
            </setting>
        </Toolbox_Class_Library.Properties.Settings>
    </userSettings>
</configuration>