<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toolbox_Class_Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Toolbox_Class_Library.Properties.Settings>
            <setting name="TypingSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlitzImportSpeed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="ReverseImport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FlexiProImportSpeed" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ContractorData" serializeAs="String">
                <value>[{"Name":"Default","Devices":["CGM4981COM","CGM4331COM","TG4482A","IPTVTCXI6HD","IPTVARXI6HD","SCXI11BEI","XE2SGROG1","XS010XQ","SCHB1AEW","SCHC2AEW","SCHC3AE0","SCXI11BEI-ENTOS","MR36HW","S5A134A","CM8200A","CODA5810","WNXB11ABR", "WNXL11BWL", "NOVA2002", "LDHD2AZW", "H74470BA00-00007", "FLZB1-ECO"],"CtrIDs":["8052","8067","8090","8091","8134","NB1","NF1"]}]</value>
            </setting>
            <setting name="CtrOrder" serializeAs="String">
                <value>8052, 8067, 8090, 8091, 8134, NB1, NF1</value>
            </setting>
            <setting name="GroupedDevices" serializeAs="String">
                <value>CGM4331COM+TG4482A, IPTVTCXI6HD+IPTVARXI6HD, XS010XQ+XS010XB+XS020XONT+XS505M</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Rogers</value>
            </setting>
            <setting name="FlexiproPixel" serializeAs="String">
                <value>961, 1007</value>
            </setting>
            <setting name="WmsPixel" serializeAs="String">
                <value>30, 151</value>
            </setting>
            <setting name="PushFlexiProData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WmsFailAutomation" serializeAs="String">
                <value>Ctrl + X</value>
            </setting>
            <setting name="WmsImportSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BartenderPath" serializeAs="String">
                <value>C:\\BTAutomation\\barcodes.txt</value>
            </setting>
            <setting name="ExcelColumn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CTRAutomation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CTRImportSpeed" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="TechIds" serializeAs="String">
                <value />
            </setting>
            <setting name="TechDevices" serializeAs="String">
                <value />
            </setting>
            <setting name="RunTechAutomation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TechHeaderText" serializeAs="String">
                <value />
            </setting>
            <setting name="TechNumDown" serializeAs="String">
                <value>8</value>
            </setting>
        </Toolbox_Class_Library.Properties.Settings>
    </userSettings>
</configuration>